.search-results {
    @extend .card-columns;

    @media (min-width: 576px) and (max-width: 991px) { // sm and md breakpoint
        column-count: 2;
    }
}

button.badge {
    margin-left: 2px;
    font-size: 14px;
}
